In [1]:
import pandas as pd
df = pd.read_csv('dataset')
df.head()

,Student ID,State,Gender,Student Status,Country,Student Status.1,Major,Age,Height (in),Study hrs,Exam score out of 40
0,1,California,Female,Graduate,US,Graduate,Politics,30,61,4,30
1,2,Arizona,Female,Undergraduate,US,Undergraduate,Politics,19,64,2,19
2,3,New York,Male,Graduate,US,Graduate,Math,26,73,6,26
3,4,New York,Male,Graduate,US,Graduate,Econ,33,68,3,33
4,5,Ohio,Male,Graduate,US,Graduate,Econ,37,71,6,37

In [2]:
average_score = df['Exam score out of 40'].mean()
print("Average score of students =", average_score)

Average score of students = 25.2

In [3]:
print("Frequnecy distribution of major")
count = df['Major'].value_counts()
count

Frequnecy distribution of major

Politics    12
Econ        10
Math         8
Name: Major, dtype: int64

In [4]:
average_age = df.Age.mean()
print("Average age of students =", average_age)

Average age of students = 25.2

In [5]:
import statistics
print("Mode is % s" % (statistics.mode(df.Age)))

Mode is 19

In [6]:
graduate = (df['Student Status.1']=='Graduate').sum()
proportion = (graduate/df.shape[0])*100
print("Proportion of student that are graduate", proportion,"%")

Proportion of student that are graduate 50.0 %

In [7]:
print("Distribution of student by height")
print("mean =", df['Height (in)'].mean())
print("meadian =", df["Height (in)"].median())
print("Mode % s" % (statistics.mode(df['Height (in)'])))
print("Standard Deviation", df['Height (in)'].std())
print("Variance", df['Height (in)'].var())
print("Skewness", df['Height (in)'].skew())

Distribution of student by height
mean = 66.43333333333334
meadian = 66.5
Mode 68
Standard Deviation 4.658572619437709
Variance 21.702298850574717
Skewness 0.171892732555845